---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: fluent-bit
  namespace: logging
  labels:
    app: fluent-bit
spec:
  selector:
    matchLabels:
      app: fluent-bit
  template:
    metadata:
      labels:
        app: fluent-bit
    spec:
      serviceAccountName: fluent-bit
      containers:
      - name: fluent-bit
        image: fluent/fluent-bit:2.2
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - name: varlog
          mountPath: /var/log
        - name: varlibcontainers
          mountPath: /var/lib/rancher/k3s/agent/containerd
          readOnly: true
        - name: fluent-bit-config
          mountPath: /fluent-bit/etc/
        - name: lua-scripts
          mountPath: /fluent-bit/scripts/
        resources:
          limits:
            memory: 200Mi
          requests:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 2020
          name: metrics
          protocol: TCP
      terminationGracePeriodSeconds: 10
      volumes:
      - name: varlog
        hostPath:
          path: /var/log
      - name: varlibcontainers
        hostPath:
          path: /var/lib/rancher/k3s/agent/containerd
      - name: fluent-bit-config
        configMap:
          name: fluent-bit-config
      - name: lua-scripts
        configMap:
          name: fluent-bit-lua-scripts
